@import "../../styles/mixin";

.Footer {
  width: 100%;
  padding: 50px 0;
  background-color: #222;
  color: #ddd;
  border-bottom: 1px solid #3e3e3e;

  @include mobile {
    padding: 40px 0 25px;
  }

  .footer-section {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;

    &-container {
      width: calc(100% + 24px);
      margin: -12px;
      display: flex;
      flex-wrap: wrap;
    }

    &-item {
      padding: 12px;
      flex-grow: 0;
      max-width: 100%;
      flex-basis: 100%;

      .footer-section-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
          font-size: 52px;
          font-weight: 700;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          line-height: 1.5;
          margin-bottom: 20px;
          color: #fff;
          padding: 0;

          &:hover {
            color: #013dab;
          }

          @include mobile {
            font-size: 30px;
            margin-bottom: 0px;
          }
        }
        &-label {
          width: 100%;
          display: inherit;
          align-items: inherit;
          justify-content: inherit;
          letter-spacing: 0.02857em;

          img {
            height: 40px;
            margin-left: 12px;
            display: inline-block;
            max-width: 100%;
            background: url("./move.png");

            &:hover {
              background: url("./move_hover.png");
            }
          }
        }
      }

      .title {
        margin-bottom: 10px;
        font-size: 16px;
        color: #ddd;
      }
      .address {
        margin-bottom: 10px;
        font-size: 14px;
        color: #7a7a7a;
        line-height: 1.57;
        font-weight: 300;
      }
      .info {
        cursor: pointer;
        font-size: 13px;
        color: #ddd;
        font-weight: 500;
      }

      .content {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 24px);
        margin: -12px;
        margin-bottom: 17px;

        @include mobile {
          flex-direction: column;
        }

        .fill {
          padding: 12px;
          flex-grow: 0;
          max-width: calc(100% / 3);
          flex-basis: calc(100% / 3);

          @include mobile {
            max-width: 100%;
            flex-basis: 100%;
            padding: 8px;
          }
        }

        .empty {
          flex-grow: 0;
          max-width: calc(200% / 3);
          flex-basis: calc(200% / 3);
        }
      }
    }
  }
}
