@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Red Hat Display", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html a,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
dl,
th,
dt,
input,
textarea,
span,
div {
  -webkit-font-smoothing: antialiased;
  // text-shadow: 1px 1px 1px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover,
a:active,
a:visited {
  text-decoration: none;
}

#root {
  position: relative;
}
