.Copyright {
  background-color: #222;
  padding: 12px 0;

  .copyright-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1230px;
    padding: 0 15px;

    .content1 {
      color: #7a7a7a;
      font-size: 14px;
    }

    .content2 {
      cursor: pointer;
      color: #fff;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
