@import "../../../context/styles/mixin";

.AboutUs1 {
  padding: 80px 0 70px;
  @include mobile {
    padding: 40px 0 30px;
  }

  .aboutUs1-wrapper {
    max-width: 1230px;
    padding: 0 15px;
    margin: auto;

    .aboutUs1-slogan {
      // display: flex;
      // flex: 0 0 100%;

      .title {
        font-size: 42px;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 40px;

        span {
          font-weight: 900;
          color: #222;
        }

        @include mobile {
          font-size: 26px;
          margin-bottom: 20px;
        }
      }

      .content1 {
        font-size: 18px;
        color: #424242;
        font-weight: 300;
        margin-bottom: 15px;
        @include mobile {
          font-size: 14px;
        }
      }

      .content2 {
        font-size: 18px;
        color: #424242;
        font-weight: 300;
        margin-bottom: 70px;
        @include mobile {
          font-size: 14px;
          margin-bottom: 35px;
        }
      }
    }

    .aboutUs1-vision {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      color: #626262;
      border-top: 1px solid #dedede;
      padding: 50px 0;
      margin-top: 15px;

      @include mobile {
        padding: 20px 0;
      }

      .title {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%;
        font-size: 32px;
        font-weight: 700;

        @include mobile {
          max-width: 100%;
          font-size: 24px;
          margin-bottom: 15px;
          flex-basis: 100%;
        }
      }

      .content {
        flex-grow: 0;
        max-width: 75%;
        flex-basis: 75%;
        font-size: 18px;
        font-weight: 300;
        @include mobile {
          width: 100%;
          flex-basis: 100%;
          font-size: 14px;
          max-width: 100%;
        }
      }
    }

    .aboutUs1-mission {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      color: #626262;
      border-top: 1px solid #dedede;
      padding: 50px 0;
      margin-top: 15px;

      @include mobile {
        padding: 20px 0;
      }

      .title {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%;
        font-size: 32px;
        font-weight: 700;
        @include mobile {
          font-size: 24px;
          margin-bottom: 15px;
        }
      }

      .content {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%;
        font-size: 18px;
        font-weight: 300;

        @include mobile {
          max-width: 100%;
          flex-basis: 100%;
          margin-bottom: 12px;
          font-size: 14px;
        }
      }
    }
  }
}
