@import "../../../styles/mixin";

.FooterMoveLink {
  display: flex;
  justify-content: space-between;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 7px;
  font-size: 14px;
  padding: 8px 15px;
  height: 100%;
  align-items: center;

  @include mobile {
    max-width: 200px;
    height: 40px;
  }
}
