@import "../../../styles/mixin";

.NavOverlay {
  z-index: 99;
  position: fixed;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  opacity: 0.95;

  .navOverlay-wrapper {
    font-size: 66px;
    font-weight: 800;

    @include mobile {
      font-size: 28px;
    }

    .navOverlay-menu {
      height: 84px;
      margin-bottom: 20px;

      @include mobile {
        line-height: 0.8;
        margin-bottom: 25px;
        height: auto;
      }

      a {
        display: block;
        color: #fff;

        &:hover {
          animation: fadein 0.5s;
        }

        @include mobile {
          span {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }

    .navOverlay-menu:nth-child(2) > a {
      width: 562px;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
